1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.
2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.
3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/nic/Загрузки/fifa_s2.csv', encoding = 'utf-8')
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.000000
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.000000
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.000000
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.000000
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.000000
5,20209,Ricardo Costa,37,Portugal,74,74,CD Tondela,750.0,4,Right,2.0,2.0,LCB,2017,01/01/2019,6.000000,181.0,1600.000000
6,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,01/01/2022,6.166667,183.0,127100.000000
7,24630,Pepe Reina,35,Spain,83,83,Milan,6000.0,56,Right,3.0,1.0,GK,2018,NaN,6.166667,203.0,10200.000000
8,27532,D. de Vries,37,Netherlands,66,66,Celtic,40.0,7,Right,1.0,1.0,GK,2016,01/01/2019,6.250000,212.0,72.000000
9,45083,S. von Bergen,35,Switzerland,73,73,BSC Young Boys,950.0,12,Right,2.0,2.0,LCB,2013,01/01/2022,6.000000,174.0,1400.000000
10,46175,M. Rosenberg,35,Sweden,73,73,Malmö FF,1800.0,6,Right,1.0,3.0,RS,2014,01/01/2020,6.000000,179.0,2400.000000
11,47201,S. Proto,35,Belgium,76,76,Lazio,1800.0,20,Right,2.0,1.0,GK,2018,01/01/2021,6.000000,163.0,3100.000000
12,48940,P. Čech,36,Czech Republic,82,82,Arsenal,3000.0,60,Left,4.0,1.0,NaN,2015,01/01/2019,6.416667,198.0,5700.000000
13,52498,M. Lehmann,35,Germany,72,72,1. FC Köln,725.0,10,Right,2.0,2.0,CDM,2012,01/01/2019,5.833333,165.0,1100.000000
14,52679,J. Murphy,36,Republic of Ireland,62,62,Bury,40.0,1,Left,1.0,1.0,GK,2017,01/01/2019,6.166667,194.0,70.000000
15,53110,C. Gordon,35,Scotland,74,74,Celtic,1300.0,20,Left,2.0,1.0,GK,2014,01/01/2020,6.333333,183.0,2400.000000
16,53302,D. De Rossi,34,Italy,83,83,Roma,8000.0,80,Right,3.0,2.0,RDM,2002,NaN,6.000000,183.0,13600.000000
17,53363,A. Collin,33,England,62,62,Carlisle United,150.0,2,Right,1.0,1.0,GK,2018,01/01/2019,6.250000,172.0,263.000000
18,53739,L. Grant,35,England,74,74,Manchester United,1300.0,39,Right,1.0,1.0,GK,2018,01/01/2020,6.333333,183.0,2500.000000
19,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1,Right,1.0,1.0,GK,2018,01/01/2023,6.166667,190.0,4585.060806

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [4]:
df.isna().sum()/len(df)*100

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.291788
Overall                      0.000000
Potential                    0.000000
Club                        10.045852
Value                       10.712797
Wage                         0.000000
Preferred Foot               0.000000
International Reputation     0.416840
Skill Moves                  0.250104
Position                     0.875365
Joined                       0.000000
Contract Valid Until        11.379742
Height                       0.000000
Weight                       0.000000
Release Clause               0.125052
dtype: float64

In [6]:
df.drop(['Contract Valid Until'], axis=1, inplace=True)
df.isna().sum()/len(df)*100

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.291788
Overall                      0.000000
Potential                    0.000000
Club                        10.045852
Value                       10.712797
Wage                         0.000000
Preferred Foot               0.000000
International Reputation     0.416840
Skill Moves                  0.250104
Position                     0.875365
Joined                       0.000000
Height                       0.000000
Weight                       0.000000
Release Clause               0.125052
dtype: float64

In [7]:
df = df.dropna()
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2101 entries, 0 to 2100
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2101 non-null   int64
 1   Name                      2101 non-null   object
 2   Age                       2101 non-null   int64
 3   Nationality               2101 non-null   object
 4   Overall                   2101 non-null   int64
 5   Potential                 2101 non-null   int64
 6   Club                      2101 non-null   object
 7   Value                     2101 non-null   float64
 8   Wage                      2101 non-null   int64
 9   Preferred Foot            2101 non-null   object
 10  International Reputation  2101 non-null   float64
 11  Skill Moves               2101 non-null   float64
 12  Position                  2101 non-null   object
 13  Joined                    2101 non-null   int64
 14  Height                    2101 non-null   float64
 15  Weight                    2101 non-null   float64
 16  Release Clause            2101 non-null   float64
dtypes: float64(6), int64(6), object(5)
memory usage: 279.2+ KB

Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

In [8]:
df.duplicated().sum()

0

In [16]:
df['Name']=df.Name.str.lower()
df['Nationality']=df.Nationality.str.lower()
df['Club']=df.Club.str.lower()
df['Preferred Foot']=df['Preferred Foot'].str.lower()
df['Position']=df.Position.str.lower()
df.duplicated().sum()
df.drop_duplicates().reset_index(drop=True)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,Release Clause
0,1179,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,6.333333,203.0,7400.0
1,8205,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,5.916667,165.0,1600.0
2,9014,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,5.916667,176.0,25600.0
3,19521,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,6.333333,203.0,210.0
4,20209,ricardo costa,37,portugal,74,74,cd tondela,750.0,4,right,2.0,2.0,lcb,2017,6.000000,181.0,1600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,246465,guerrero,16,spain,63,76,cf rayo majadahonda,625.0,1,left,1.0,3.0,cm,2018,5.916667,165.0,1400.0
2095,246594,h. massengo,16,france,62,75,as monaco,450.0,2,right,1.0,2.0,cdm,2018,5.833333,146.0,1100.0
2096,246599,guillem jaime,19,spain,64,80,fc barcelona,975.0,13,right,1.0,3.0,rw,2018,5.833333,154.0,2600.0
2097,246606,fran garcía,18,spain,64,79,real madrid,825.0,9,left,1.0,2.0,lb,2018,5.583333,139.0,2200.0
2098,246608,fidalgo,21,spain,65,75,real madrid,875.0,20,right,1.0,3.0,cm,2016,5.750000,150.0,2000.0

Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до 36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [19]:
def group_age(age):
    if age < 20:
        return 'до 20'
    elif age in range(20, 30):
        return 'от 20 до 30'
    elif age in range(30, 36):
        return 'от 30 до 36'
    else:
        return 'старше 36'
    
df['Group_age'] = df['Age'].apply(group_age)
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Height,Weight,Release Clause,Group_age
0,1179,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,6.333333,203.0,7400.0,старше 36
1,8205,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,5.916667,165.0,1600.0,от 30 до 36
2,9014,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,5.916667,176.0,25600.0,от 30 до 36
3,19521,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,6.333333,203.0,210.0,от 30 до 36
4,20209,ricardo costa,37,portugal,74,74,cd tondela,750.0,4,right,2.0,2.0,lcb,2017,6.000000,181.0,1600.0,старше 36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,246465,guerrero,16,spain,63,76,cf rayo majadahonda,625.0,1,left,1.0,3.0,cm,2018,5.916667,165.0,1400.0,до 20
2097,246594,h. massengo,16,france,62,75,as monaco,450.0,2,right,1.0,2.0,cdm,2018,5.833333,146.0,1100.0,до 20
2098,246599,guillem jaime,19,spain,64,80,fc barcelona,975.0,13,right,1.0,3.0,rw,2018,5.833333,154.0,2600.0,до 20
2099,246606,fran garcía,18,spain,64,79,real madrid,825.0,9,left,1.0,2.0,lb,2018,5.583333,139.0,2200.0,до 20
2100,246608,fidalgo,21,spain,65,75,real madrid,875.0,20,right,1.0,3.0,cm,2016,5.750000,150.0,2000.0,от 20 до 30

In [20]:
df['Group_age'].value_counts()

от 20 до 30    1429
от 30 до 36     392
до 20           263
старше 36        17
Name: Group_age, dtype: int64